.popup__input {
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: normal;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    padding-bottom: 12px;
    margin: 0;
    margin-bottom: 13px;
    box-sizing: border-box;
    width: calc(100% - 72px);
    outline: none;
}

.popup__input:last-of-type {
    margin-bottom: 0;
}

.popup__input::placeholder { 
    color: #c4c4c4; 
}

@media all and (max-width: 500px) {
    .popup__input  {
        width: calc(100% - 40px);
        font-size: 12px;
        line-height: 15px;
    }
}