.header__logo {
    width: 142px;
    height: 33px;
    background-image: url(../../../images/logo.svg);
    background-size: cover;
    margin-bottom: 40px;
}

@media all and (max-width: 425px) {
    .header__logo {
        margin-left: 27px;
        margin-bottom: 31px;
        width: 104px;
        height: 24px;
    }
}