.popup__picture-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}

@media all and (max-width: 768px) {
    .popup__picture-container {
        margin: 0 10px;
    }
}

@media all and (max-width: 768px) {
    .popup__picture-container {
        margin: 0;
        max-width: calc(100% - 20px);
    }
}
