.profile__avatar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media all and (max-width: 768px) {
    .profile__avatar-container {
        flex-direction: column;
    }
}